<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common_header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/canteen_war/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/canteen_war/css/normal/normal.css" th:href="@{/css/normal/normal.css}">
    <!--/* Per-page placeholder for additional links */-->
    <script src="/canteen_war/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/canteen_war/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
    <script type="text/javascript" src="/canteen_war/js/jquery/jquery-3.0.0.min.js" th:src="@{/js/jquery/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" src="/canteen_war/js/jquery/jquery-3.0.0.js" th:src="@{/js/jquery/jquery-3.0.0.js}"></script>
    <script type="text/javascript" src="/canteen_war/js/dist/echarts.js" th:src="@{/js/dist/echarts.js}"></script>
</head>
<body>
</body>
</html>

























