<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="common/htmlHead :: common_header">
    <title>设置</title>
</head>

<body>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchConfirm">批量入库</button>
        <button class="layui-btn layui-btn-sm" lay-event="rejectOrderShow">拒绝入库订单</button>
        <button class="layui-btn layui-btn-sm" lay-event="orderShow">待入库订单</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">订单详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="ok">确认入库</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">取消入库</a>
</script>

<script id="switchTpl" type="text/html">
    <input type="text" class="normal-input" name="备注"  lay-filter="beizhu" >
</script>

<script id="checkboxTpl" type="text/html">
    <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="lockDemo" {{ d.id == 10006 ? 'checked' : '' }}>
</script>
<script>
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form;
        table.render({
            elem: '#test'
            ,url:'/store/receives'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,cellMinWidth: 80
            ,cols: [[
                {type:'numbers'}
                ,{type: 'checkbox'}
                ,{field:'ordernumber', title:'订单号', minwidth:100, unresize: true, sort: true}
                ,{field:'provideraccount', title:'供应商账户', templet: '#usernameTpl' ,minwidth:100}
                ,{field:'totalmoney', title:'订单金额',minwidth:60}
                ,{field:'status', title: '订单状态', minWidth:100 ,minwidth:50}
                ,{field:'sex', title:'备注信息', minwidth:160, templet: '#switchTpl', unresize: false}
                ,{fixed: 'right', width:300, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器

            ]]
            ,page: true
            ,parseData:function(res){ //res 即为原始返回的数据
                console.log(res);
                var current_pages;
                //第一次显示的时候this.page=true，把这种情况单独列出
                if(this.page===true)current_pages=1;
                else current_pages=this.page.curr;
                var result = res.data.slice(this.limit*(current_pages-1),this.limit*current_pages);
                return {
                    "code": res.code,
                    "msg":res.msg,
                    "count": res.data.length,
                    "data": result
                }
            }
        });
        //行监听事件
        table.on('tool(test)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent === 'detail'){ //查看
                layer.open({
                    type: 2,
                    title: '订单详情'
                    ,area: ['700px', '500px']
                    ,content: '/order/detail/+'+data.ordernumber
                    ,cancel: function(index, layero){
                        layer.close(index);
                        return false;
                    }
                });
            }else if(layEvent==='ok'){
                //确认订单
                $.ajax({
                    contentType:'application/json;charset=utf-8',
                    url:"/order/confirm/"+data.ordernumber,
                    type:"PUT",
                    success:function(result,testStatus){
                        if(result.return==="true"){
                            layer.msg('入库成功',{
                                time: 2000, //20s后自动关闭
                                icon:1
                            });
                            table.reload('test', {
                                url: '/store/receives'
                                ,where: {} //设定异步数据接口的额外参数
                            });
                        }
                        else {
                            layer.msg('操作失败，请重试', {
                                time: 2000, //20s后自动关闭
                                icon:2
                            });
                        }
                    },
                    error:function(xhr,errorMessage,e){
                        alert(xhr.toString());
                    }
                })

            }else if(layEvent==='del'){
                $.ajax({
                    contentType:'application/json;charset=utf-8',
                    url:"/order/reject/"+data.ordernumber,
                    type:"PUT",
                    success:function(result,testStatus){
                        if(result.return==="true"){
                            layer.msg('操作成功',{
                                time: 1000, //20s后自动关闭
                                icon:1
                            });
                            table.reload('test', {
                                url: '/store/receives'
                                ,where: {} //设定异步数据接口的额外参数
                            });
                        }
                        else {
                            layer.msg('操作失败，请重试', {
                                time: 2000, //20s后自动关闭
                                icon:2
                            });
                        }
                    },
                    error:function(xhr,errorMessage,e){
                        alert(xhr.toString());
                    }
                })
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'batchConfirm'://批量审核
                    var data = checkStatus.data;
                    $.ajax({
                        contentType:'application/json;charset=utf-8',
                        url:"/orders/confirm",
                        type:"PUT",
                        data:JSON.stringify(data),
                        success:function(result,testStatus){
                            if(result.status==="ok"){
                                table.reload('test', {
                                    url: '/store/receives'
                                    ,where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                            }
                            else {
                                layer.msg('操作失败，请重试', {
                                    time: 1000, //20s后自动关闭
                                    icon:2
                                });
                            }
                        },
                        error:function(xhr,errorMessage,e){
                            alert(xhr.toString());
                        }
                    });
                    break;
                case 'rejectOrderShow'://拒绝入库的订单
                    table.reload('test', {
                        url: '/store/rejects'
                    });
                    break;
                case 'orderShow':
                    table.reload('test', {
                        url: '/store/receives'
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
        });
    });
</script>

</body>
</html>