<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/canteen_war/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/canteen_war/css/normal/normal.css" th:href="@{/css/normal/normal.css}">
</head>
<body>
<table id="storehouse" lay-filter="test"></table>
<script src="/canteen_war/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="/canteen_war/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">购入</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">使用</a>
</script>
<script type="text/javascript" src="/canteen_war/js/jquery/jquery-3.0.0.min.js" th:src="@{/js/jquery/jquery-3.0.0.min.js}"></script>
<script type="text/javascript" src="/canteen_war/js/jquery/jquery-3.0.0.js" th:src="@{/js/jquery/jquery-3.0.0.js}"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#storehouse'
            ,height: 600
            ,url: '/store/totals' //数据接口
            ,page: true //开启分页
            ,parseData:function(res){ //res 即为原始返回的数据
                var current_pages;
                //第一次显示的时候this.page=true，吧这种情况单独列出
                if(this.page===true)current_pages=1;
                else current_pages=this.page.curr;
                var result = res.data.slice(this.limit*(current_pages-1),this.limit*current_pages);
                return {
                    "code": res.code,
                    "msg":res.msg,
                    "count": res.data.length,
                    "data": result
                }
            }
            ,cols: [[ //表头
                {field: 'foodname', title: '菜名称', width:100, sort: true, fixed: 'left'}
                ,{field: 'foodid', title: '菜编号', width:100}
                ,{field: 'foodamount', title: '剩余数量', width:100, sort: true}
                ,{field: 'alarmamount', title: '高报警数量', width:100}
                ,{field: 'lowalarmamount', title: '低报警数量', width:100}
                ,{field: 'money', title: '单价', width: 100}
                ,{field: 'changenum', title: '修改量', width: 100,edit: 'text'}
                ,{fixed: 'right', width:300, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
        });
        table.on('tool(test)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            // if(layEvent!=='detail'&&data.changenum==="0"){//没有输入修改量
            //     layer.alert("请在修改量栏输入修改量")
            // }

            if(layEvent === 'detail'){ //查看详情
                //alert("dasdaasdadsa")
                layer.open({
                    type: 2,
                    title: '使用详情'
                    ,area: ['900px', '500px']
                    ,content:'/store/chart/'+data.foodid
                    // ,content: 'dispatch?htmlurl=foodStoreChart&foodid='+data.foodid
                    ,cancel: function(index, layero){
                        layer.close(index)
                        return false;
                    }
                });
                //do somehing
            } else if(layEvent === 'del') { //使用
                if (data.changenum === 0) {//没有输入修改量
                    layer.msg('请在修改量栏输入使用', {
                        icon: 0,
                        time: 2000
                    });
                }
                else
                    {layer.confirm('确认使用量', function (index) {
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                        url: "/store/use",
                        type: "PUT",
                        data: "foodid=" + data.foodid + "&changenum=" + data.changenum,
                        success: function (result, testStatus) {
                            if (result.msg === "success") {//成功
                                // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                table.reload('storehouse', {
                                    url: '/store/totals'
                                    , where: {} //设定异步数据接口的额外参数
                                    //,height: 300
                                });
                            } else {
                            }
                        },
                        error: function (xhr, errorMessage, e) {
                            alert(xhr.toString());
                        }
                    });

                    layer.close(index);
                    //向服务端发送删除指令
                    }
                    ,{
                            icon: 0
                        })
                }
            } else if(layEvent === 'edit'){ //购入
                if (data.changenum ===0) {//没有输入修改量
                    layer.msg('请在修改量栏输入购入量', {
                        icon: 0,
                        time: 2000
                    });
                }
                else {
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                        url: "/store/ask",
                        type: "PUT",
                        data: "foodid=" + data.foodid +  "&changenum=" + data.changenum,
                        success: function (result, testStatus) {
                            layer.msg('添加成功，已添加至代购菜品', {
                                time: 5000, //20s后自动关闭
                            });
                            obj.update({
                                changenum: 0
                                , title: '修改量'
                            });
                        },
                        error: function (xhr, errorMessage, e) {
                            alert(xhr.toString());
                        }
                    })
                }
            }

        });
    });

</script>
</body>
</html>