<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>食堂管理系统 v1.1</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/canteen_war/indexhtml/favicon.ico" th:href="@{/indexhtml/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" href="/canteen_war/indexhtml/css/font.css" th:href="@{/indexhtml/css/font.css}">
	<link rel="stylesheet" href="/canteen_war/indexhtml/css/xadmin.css" th:href="@{/indexhtml/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" th:src="@{/js/jquery/jquery-3.0.0.js}"></script>
    <script src="/canteen_war/indexhtml/lib/layui/layui.js" charset="utf-8" th:src="@{/indexhtml/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="/canteen_war/indexhtml/js/xadmin.js" th:src="@{/indexhtml/js/xadmin.js}"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="">食堂管理系统 v1.1</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">快捷操作</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd th:if="${session.UserInfo.getIdentity()=='0'||session.UserInfo.getIdentity()=='1'}"><a onclick="x_admin_show('新增菜品','/store/add.html')"><i class="iconfont">&#xe6a8;</i>新增菜品</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.UserInfo.getUsername()}">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
<!--              <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
              <dd><a href="/user/logout">切换帐号</a></dd>
              <dd><a href="/user/logout">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;" th:if="${session.UserInfo.getIdentity()!='3'}">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>账户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="account/show.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>账户查看</cite>
                            
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:if="${session.UserInfo.getIdentity()=='0'||session.UserInfo.getIdentity()=='1'}">
                    <i class="iconfont">&#xe723;</i>
                    <cite>库存管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/store/total.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>库存总量</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/store/alarm.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>库存预警</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/store/confirm.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>到货入库</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:if="${session.UserInfo.getIdentity()=='0'||session.UserInfo.getIdentity()=='2'}">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                    <a _href="/order/preorder.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>预购菜品</cite>
                    </a>
                </li >
                    <li>
                        <a _href="/order/show.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单查看</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:if="${session.UserInfo.getIdentity()=='0'}">
                    <i class="iconfont">&#xe723;</i>
                    <cite>供应商管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/provider/show.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>供应商认证</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:if="${session.UserInfo.getIdentity()=='3'}">
                    <i class="iconfont">&#xe726;</i>
                    <cite>供应商子系统</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/provider/message">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商家信息完善</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/provider/orderShow.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>需求订单查看</cite>
                        </a>
                    </li >
                </ul>
            </li>
           <li >
                <a href="/api-doc.html"  >
                    <i class="iconfont">&#xe723;</i>
                    <cite>接口说明文档</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
           </li>
            <li >
                <a href="/druid/"  >
                    <i class="iconfont">&#xe723;</i>
                    <cite>数据源监控</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
           </li>

            <li>
                <a href="/canteen_war/bigping/index.html" class='x-a' target="_blank">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>数据大屏</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>系统统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="echarts1.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>拆线图</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="echarts2.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>柱状图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts3.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>地图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts4.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>饼图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts5.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>雷达图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts6.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>k线图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts7.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>热力图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts8.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>仪表图</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright"></div>
    </div>
    <!-- 底部结束 -->
    <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>